* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form_layout {
    background-color: #ddd;
    padding: 30px;
    width: 800px;
    margin: auto;
}

select#selectbasic {
    padding: 2px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
}

select#selectbasic>option {
    font-weight: 500;
    font-size: 14px;
}